@charset "utf-8";
/* CSS Document */
html {
    height: 100%;
	}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
    }
.for_page {
    flex: 1 0 auto;
	}
html body{
	font-size: 14px;
	font-family: 'Proxima Nova Cn Rg';
	background: #162832;
}
img{
	width: auto;
	height: auto;
	max-width: 100%;
}
.header{
	padding-top: 30px;
}
.logo{
	display: block;
	max-width: 60px;
}

.menu ul.sub-menu{
	list-style: none;
	display: flex;
	padding-top: 21px;
}
.menu ul.sub-menu li a{
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	color: #FFFFFF;
	padding-right: 50px;
	transition: all 0.3s ease;
}
.menu ul.sub-menu li:last-child a{
	padding-right: 0;
}
.menu ul.sub-menu li a:hover{
	color: #3A68B8;
	font-weight: 400;
}
.header .btn-sign{
	width: 186px;
	height: 36px;
	background: #018ABE;
	border-radius: 3px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	color: #FFFFFF;
	outline: none;
	border: none;
	padding: 9px 15px;
	margin-top: 13px;
	transition: all 0.3s ease;
	
}

.header .btn-sign:hover{
	color: #1E1D7A;
	background: white;
	text-decoration: none;
}
.header .btn-sign:focus{
	box-shadow: none;
}
.baner{
	padding-top: 50px;
	padding-bottom: 150px;
}
.baner-img{
	background: url("../img/baner.jpg") no-repeat;
	background-size: cover;
	border-radius: 10px;
	padding-top: 136px;
	padding-bottom: 210px;
	text-align: center;
}
.baner-img .text-baner{
	font-family: 'El Messiri', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
	}
.baner-img .text-baner img{
	padding: 0 66px;
}
.baner-img h2{
	font-family: 'El Messiri', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 140%;
	color: #FFFFFF;
	padding-top: 40px;
	max-width: 587px;
	margin: 0 auto;
	}
.sessions{
	padding-bottom: 150px;
}
.text-sessions{
	font-family: 'El Messiri', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0;
	padding-bottom: 100px;
	}
.img-1{
	position: relative;
	
}
.img-1::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 7px;
	width: 100%;
	background: #018ABE;
	border-radius: 0px 0px 10px 10px;
	opacity: 0;
	transition: all 0.3s ease;
}
.img-1:hover::before{
	opacity: 1;
	
}
.img-1 a{
	display: block;
}
.img-1 img{
	height: 540px;
	width: 100%;
}
.img-1 p{
	position: absolute;
	content: "";
	left: 40px;
	bottom: 30px;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
	font-family: 'El Messiri', sans-serif;
}
.img-2{
	position: relative;
	margin-bottom: 24px;
}
.img-2:nth-child(2),
.img-2:nth-child(4){
	margin-bottom: 0px;
}
.img-2 a{
	display: block;
}
.img-2 img{
	height: 258px;
	width: 100%;
}
.img-2 p{
	position: absolute;
	content: "";
	left: 44px;
	bottom: 30px;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
	font-family: 'El Messiri', sans-serif;
}
.img-2::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 7px;
	width: 100%;
	background: #018ABE;
	border-radius: 0px 0px 10px 10px;
	opacity: 0;
	transition: all 0.3s ease;
}
.img-2:hover::before{
	opacity: 1;
	
}
.text-sessions img{
	padding: 0 66px;
}

.carusel-section{
	padding-bottom: 150px;
}
/*carousel*/
.item-carousel{
	background: #018ABE;
    border-radius: 10px;
	padding: 50px 60px 56px 60px;
	
}
.item-carousel h2{
	padding-bottom: 20px;
    font-family: 'Proxima Nova Cn Rg';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.item-carousel p{
	font-family: 'Proxima Nova Cn Rg';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}
.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.owl-dot span:hover,
.owl-dot.active span {
    opacity: 1;
}

.owl-dot {
    outline: none;
}

.owl-dot span{
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 3px;
    display: block;
    margin-right: 20px;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
}
/*carousel*/
.about{
	padding-bottom: 150px;
}
.block_text_1{
	margin-top: 66px;
	margin-right: 69px;
}
.text_about_2 h2,
.text_about_1 h2{
	font-family: 'Proxima Nova Cn Rg';	
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
	padding-bottom: 30px;
}
.text_about_2 p,
.text_about_1 p{
	font-family: 'Proxima Nova Cn Rg';	
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	min-width: 466px;
}

.block_text_2{
	margin-top: 117px;
}
.img_about_2{
	margin-top: 100px;
}
.prices ul li{
	display: flex;
	justify-content: space-between;
	padding-bottom: 31px;
}
.prices ul li:last-child{
	padding-bottom: 0;
}
.prices{
	padding-right: 72px;
	padding-top: 103px;
}

.prices .title_price{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #FFFFFF;
	font-family: 'Proxima Nova Cn Rg';
}
.prices .title_price img{
	padding-right: 20px;
}
.prices .price_left{
	font-family: 'El Messiri', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
    text-align: right;
	color: #FFFFFF;	
}
.sertificate{
	padding-left: 32px;
}
.sertificate .text_sertificate{
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 140%;
	font-family: 'El Messiri', sans-serif;
	text-align: center;
	color: #FFFFFF;
	padding-top: 30px;
}
.price{
	padding-bottom: 150px;
}
.map-geolocation iframe{
	border-radius: 10px;
}
.last-blocks{
	padding-left: 18px;
}

.workclass{
	background: #018ABE;
	border-radius: 10px;
	margin-bottom: 18px;
	padding: 35px 45px;
}
.pool{
	background: #018ABE;
	border-radius: 10px;
	padding: 35px 45px;
}
.pool h2,
.workclass h2{
	padding-bottom: 20px;
	margin-bottom: 0;
	font-family: 'El Messiri', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;

}
.pool p img,
.workclass p img{
	padding-right: 20px;
}
.pool p,
.workclass p{
	margin-bottom: 0;
	padding-bottom: 21px;
	font-family: 'Proxima Nova Cn Rg';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	color: #FFFFFF;
	}
.pool a,
.workclass a{
	display: block;
	padding-top: 9px;
	width: 155px;
	height: 36px;
	background: #FFFFFF;
	border-radius: 3px;
	font-family: 'Proxima Nova Cn Rg';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 140%;
	color: #018ABE;
	transition: all 0.3s ease;
	text-align: center;
	}
.pool a:hover,
.workclass a:hover{
	background: #162832;
	color: white;
	text-decoration: none;
}
.footer{
	padding-top: 90px;
	padding-bottom: 30px;
}
.text-footer-left{
	font-family: 'Proxima Nova Cn Rg';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	color: #FFFFFF;
	text-align: left;
}
.text-footer-right{
	font-family: 'Proxima Nova Cn Rg';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
	color: #FFFFFF;
	text-align: right;
}
.responsive_menu_bar{
	display: none;
}
















