html body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}
a{
    text-decoration: none;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
}
.bg_head{
    background-image: url(../img/Rectangle\ 1.png);
    max-height: 650px;
    padding-bottom: 650px;
    
}
.head-displ{
    justify-content: space-around
}
.head-head{
    padding-top: 30px;
}
.head-head2{
    padding-top: 30px;
    text-align: end;
    padding-bottom: 301px;
}

.menu_head{
    padding: 17px 20px ;
    background-color: #fff;
    border-radius: 35px ;
}
.head-box{
    max-width: 741px;
    max-height: 537px;
    background-color: #fff;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
    margin-left: 63px;
}
.content{
    padding-top: 96px;
    padding-bottom: 75px;
}
.text-box{
    max-width: 521px;
    padding-bottom: 27px;
    margin-left: 64px;
}
.text1{
    font-weight: 700;
    font-size: 38px;
    line-height: 49px;  
    color: #000000;
    word-wrap: break-word;
    
}
.color-text{
    color: #F78065;
}
.text2{
    font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        opacity: 0.6;
}
.head-box .btn-head{
    background-color: #F78065;
    color: #fff;
    border: none;
    padding:   17px 82px;
}
.s1{
    padding-top: 400px;
}
.s1-row{
    justify-content: space-around
}
.s1-row .sections{
 
}
.s1-img{
    padding-bottom: 84px;
    width: auto;
    height: auto;
}
.s1-row .s1-text{
    max-width: 381px;

}
.s1-text1{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        padding-bottom: 20px;
}
.s1-text2{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 20px;
}
.s1-text3{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #F78065;
        text-decoration: none;
        transition: all 0.3s ease;
}
.s1-text3:hover{
    color: red;
    text-decoration: none;
}
.s2{
    padding-top: 240px;
}
.s2-shapka{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    padding-bottom: 108px;
}


.s2-text1{
    font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        /* identical to box height */
    
    
        color: #000000;
}
.s2-text2{
    font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        opacity: 0.5;
        padding-bottom: 41px;
        overflow: hidden;
        height: 100px;

}
.s3-pad{
   
}





.s4{
    padding-top: 263px;
   
}
.s4-text{
    font-weight: 400;
        font-size: 18px;
        line-height: 22px;    
        color: #000000;
        opacity: 0.5;
}

.s4_textTop{
    max-width: 325px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    padding-bottom: 32px;
}
.s4-text{
    max-width: 325px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.5;
    padding-bottom: 48px;

}
.s4 .s4-btn{
    background-color: #F78065;
    color: #fff;
    border: none;
    padding: 17px 82px;
}
.s4-row{
    justify-content: space-around
}
.text-s44{
    font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        padding-bottom: 8px;
        margin: 0;
}
.s4-text-block{
    font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #3F3D56;
        margin: 0;
        padding-bottom: 11px;
}
.s4-vieve{
    color: #F78065;
    text-decoration: none;
    transition: 0.3s linear;
}
.s4-vieve:hover{
    color:red;
    text-decoration: none;
}

