@media (max-width: 1199px){
	.parent_galery .fancybox{
		height: 295px;
	}
}

@media (max-width: 991px){	
	.parent_galery .fancybox {
		height: 328px;
		width: 33.222%;
	}
	.parent_galery .fancybox:nth-child(4),
	.parent_galery .fancybox:nth-child(8){
		margin-right: 1px;
	}
	.parent_galery .fancybox:nth-child(3),
	.parent_galery .fancybox:nth-child(6){
		margin-right: 0px;
	}
}
@media (max-width: 767px){
	.parent_galery .fancybox {
    height: 370px;
    width: 49.8%;
	}
	.parent_galery .fancybox:nth-child(3){
		margin-right: 1px;
	}
	.parent_galery .fancybox:nth-child(2),
	.parent_galery .fancybox:nth-child(4),
	.parent_galery .fancybox:nth-child(6),
	.parent_galery .fancybox:nth-child(8){
		margin-right: 0px;
	}
}

@media (max-width: 600px){

}

@media (max-width: 550px){
	.parent_galery .fancybox {
		height: 370px;
		width: 100%;
		margin-right: 0;
	}
}
@media (max-width: 450px){
	
}
@media (max-width: 400px){
	
}
@media (max-width:350px){
	
}