body {
  background: blue;
  font-size: 15px;
}
.header {
  height: 200px;
  background: #ff0000;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_header {
  background: #ff0000;
  font-size: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.bottom_header {
  border-bottom: 1px solid #ff0000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  padding: 0 20px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  display: block;
  font-size: 16px;
  color: #fff;
}
nav ul li a:hover {
  color: #000;
}
