/*Nav*/
.nav{
    width: 100%;
    background: #00208e;
}
ul.menu{
    list-style: none;
    display: flex;
}
ul.menu li a{
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin:0 auto;
}
ul.active{
    list-style: none;
}
/*Nav*/