@media (min-width: 1200px){
	.for_page .container{
		max-width: 1146px;
	}
}

@media (max-width: 1199px){
	.box_baner_first {
    	padding-top: 0;
		}
	
}

@media (max-width: 991px){
	.baner {
    	padding-top: 40px;
		margin-bottom: 35px;
	}
	.menu ul.sub-menu {
      padding-left: 0;
	}
	.closed_menu,
	.responsive_menu_bar{
		display: block;
	}
	.parent_mob_content{
		display: flex;
		justify-content: space-between;
	}
	.responsive_menu_bar i{
		color: #fff;
		font-size: 30px;
		cursor: pointer;
		transition: all 0.4s ease;
	}
	.closed_menu:hover,
	.responsive_menu_bar i:hover{
		color: #00C3CC;
	}
	.menu{
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0,0,0, 0.7);
		z-index: 99;
		}
	.menu ul.sub-menu {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-top: 46px;
}
	.menu ul.sub-menu li{
		width: 100%;
		text-align: center;
	}
	.menu ul.sub-menu li a{
		padding-right: 0;
		padding-bottom: 20px;
		display: block;
	}
	.closed_menu{
		color: #fff;
		font-size: 30px;
		position: absolute;
		right: 50px;
		top: 12px;
		cursor: pointer;
	}
	.box_baner_img {
    	margin-top: 40px;
	}
	.owl-carousel .owl-dots{
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.owl-carousel .owl-dots .owl-dot{
		outline: none;
	}
	.owl-carousel .owl-dots .owl-dot span{
		display: block;
		width:10px;
		height: 10px;
		background: #fff;
		border-radius: 100px;
		margin-right: 6px;
		transition: all 0.4s ease;
	}
	.owl-carousel .owl-dots .owl-dot span:hover,
	.owl-carousel .owl-dots .owl-dot.active span{
		background: #00C3CC;
	}
	

}
@media (max-width: 767px){
	.header .btn-sing{
		margin-top: 20px;
	}
	.box_baner_img img{
    	display: block;
		margin: 0 auto;
	}
	.owl-carousel#carousel_partner .owl-item img {
    margin: 0 auto;
	}
	#carousel_partner {
    padding-top: 40px;
	}
}

@media (max-width: 600px){
	.box_baner_first h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
}

@media (max-width: 500px){
	
}
@media (max-width: 450px){
	.box_baner_first h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 13px;
	}
	.box_baner_first p {
		font-weight: 600;
		font-size: 15px;
		line-height: 25px;
		color: #FFFFFF;
		opacity: 0.7;
		margin-bottom: 20px;
	}
	.baner .btn_baner {
    	display: block;
		margin-bottom: 10px;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.header .btn-sing {
    	width: 100%;
	}
}
@media (max-width: 400px){
	
}
@media (max-width:350px){
	
}