@charset "UTF-8";
/* CSS Document */

/*general*/
html body{
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}
img{
  width: auto;
  height: auto;
  max-width: 100%;
}
/*general*/

/*header*/
.header{
  padding-top: 18px;
  padding-bottom: 18px;
}
.logo{
  max-width: 112px;
  display: block;
}
.header .parent_mob_content{
  height: 100%;
}
.header .parent_mob_content a{
  height: 100%;
}
.header .parent_mob_content a img{
  height: 100%;
}
.menu ul.sub-menu{
  list-style: none;
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.menu{
  height: 100%;
}
.menu ul.sub-menu li a{
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: rgba(29, 31, 46, 1);
  letter-spacing: 2px;
}
.menu ul.sub-menu li a:hover{
  color: rgba(162, 95, 75, 1);
}
.menu ul.sub-menu li:last-child a{
  padding-right: 0;
}
.header .btn-cart{
  height: 18px;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(29, 31, 46, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
}
.for_page .cartbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.for_page .cart{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 92px;
  padding: 0px;
  border: none;
  border-bottom: 2px solid rgba(162, 95, 75, 0.3);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.icon{
  cursor: pointer;
}
.btn_name{
  background: rgba(29, 31, 46, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0px 4px;
  margin-bottom: 2px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  font-size: 11px;
  line-height: 16px;
  cursor: pointer;
}
.btn_cart a{
  padding: 0px 10px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(29, 31, 46, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn_cart a:focus{
  box-shadow: inherit;
  -webkit-border-box-shadow: inherit;
  -moz-border-box-shadow: inherit;
  -ms-border-box-shadow: inherit;
  -o-border-box-shadow: inherit;
}
.btn_cart a:hover{
  color: rgba(162, 95, 75, 1);
  text-decoration: none;
}
/*header*/

/*main-baner*/
.baner .container{
  max-width: 1380px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
}
.baner_main{
  background: url(..//img/baner.png) center 100%;
  color: rgba(255, 255, 255, 1);
  text-align: center; 
}
.baner_text{
  padding-top: 159px;
}
.baner_text h3{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.baner_text h1{
  font-size: 47px;
  line-height: 60px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.baner_text p{
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  padding-bottom: 48px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.8);
}
.btn_baner{
  padding-bottom: 177px;
}
.main .btn-baner{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  -webkit-border-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  -moz-border-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  -ms-border-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  -o-border-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  line-height: 18px;
  padding: 0 24px;
}
.btn_baner a{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase; 
}
.main .btn-baner:hover{
  animation: anim1 4s linear infinite;
}
  @keyframes anim1{
    0%{background: rgba(29, 31, 46, 1);}
    50%{background: rgba(255, 255, 255, 1);}
    100%{background: rgba(162, 95, 75, 1)}
}
/*main-baner*/
/*main-story*/
.story_main{
  padding-top: 141px;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(29, 31, 46, 1);
}
.story_main h3{
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 16px;
  margin-bottom: 0px;
}
.story_main h3:hover{
  color: rgba(162, 95, 75, 1);
}
.story_main p{
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 21px;
  margin-bottom: 0px;
  color: rgba(29, 31, 46, 0.7);
}
.main .btn-story{
  color: rgba(162, 95, 75, 1);
  line-height: 28px;
  border-bottom: 2px solid rgba(162, 95, 75, 0.3);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  padding: 0px;
}
.btn_story a{
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
}
.main .btn-story:hover{
  color: rgba(29, 31, 46, 1);;
  border-bottom: 3px solid rgba(29, 31, 46, 1);;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  }
/*main-story*/

/*main-featured mags*/
.featured .container{
  max-width: 960px;
  margin: 0 auto;
}
.featured_mags{
  padding: 100px 0;
}
.featured_mags h2{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(29, 31, 46, 1);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.featured_mags{
  position: relative;
}
.left,.right{
  background:rgba(236, 236, 237, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left{
  right: 37%;
}
.right{
  left: 37%;
}
.left:before,.right:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 30px;
  background: rgba(236, 236, 237, 1);
  top: 50%;
  transform: translateY(-50%);
}
.left:before{
  right: 100%;
}
.featured_image{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(29, 31, 46, 1);
  }
.featured_product1, .featured_product2{
  padding: 0px 10px;
  }
.fancybox{
  height: 540px;
  width: 460px;
  }
.price{
  padding-top: 35px;
  }
.price a{
  color: rgba(29, 31, 46, 1);
  text-decoration: none;
  }
.price a:hover{
  text-decoration: none;
  color: rgba(162, 95, 75, 1);
  }
.price h3{
  color:rgba(29, 31, 46, 0.7);
  font-size: 16px;
  line-height: 28px;
  padding-top: 5px;
  padding-bottom: 15px;
  }
.current_price h3{
  display: inline;
  }
.price .new_price{
  color: rgba(162, 95, 75, 1);
  }
/*main-featured mags*/

/*main-more products*/
.products_more{
  padding: 100px 0;
}
.more_products .container{
  max-width: 960px;
  margin: 0 auto;
}
.products_more h2{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(29, 31, 46, 1);
  text-transform: uppercase;
  margin: 0 auto;
}
.products_more{
  position: relative;
}
.left1,.right1{
  background:rgba(236, 236, 237, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left1{
  right: 37%;
}
.right1{
  left: 37%;
}
.left1:before,.right1:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 30px;
  background: rgba(236, 236, 237, 1);
  top: 50%;
  transform: translateY(-50%);
}
.left1:before{
  right: 100%;
}
.products_more_image{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(29, 31, 46, 1);
  }
.fancybox1{
  height: 380px;
  }
.price .new_price1{
  color: rgba(162, 95, 75, 1);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  }
.products_more_product3, .products_more_product4,
.products_more_product5, .products_more_product6, 
.products_more_product7, .products_more_product8, 
.products_more_product9, .products_more_product10,
.products_more_product11{
  padding-bottom: 50px;
  }
.products_more_product4, .products_more_product7,
.products_more_product10{
  padding-left: 8px;
  padding-right: 8px;
  }
.products_more_image a{
  display: block;
  max-height: 400px;
  overflow: hidden;
  }
.products_more_image a img{
  transition: ease-in 1s;
  -webkit-border-transition: ease-in 1s;
  -moz-border-transition: ease-in 1s;
  -ms-border-transition: ease-in 1s;
  -o-border-transition: ease-in 1s;
  }
.products_more_image a img:hover{
  transform: scale(1.2);
  -webkit-border-transform: scale(1.2);
  -moz-border-transform: scale(1.2);
  -ms-border-transform: scale(1.2);
  -o-border-transform: scale(1.2);
  }
/*main-more products*/

/*main-buy two products*/
.buy{
  margin: 0 auto;
  padding-bottom: 130px;
}
.buy_two{
  padding: 100px 0;
}
.buy_two h2{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(29, 31, 46, 1);
  text-transform: uppercase;
  margin: 0 auto;
}
.buy_two{
  position: relative;
}
.left2,.right2{
  background:rgba(236, 236, 237, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left2{
  right: 24%;
}
.right2{
  left: 24%;
}
.left2:before,.right2:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 30px;
  background: rgba(236, 236, 237, 1);
  top: 50%;
  transform: translateY(-50%);
}
.left2:before{
  right: 100%;
}
.buy .product{
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
.buy_main .buy_text h3{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 14px;
  }
.buy_text h1{
  font-size: 36px;
  line-height: 50px;
  margin: 0px;
  padding-bottom: 15px;
  }
.buy_text h1:hover{
  color: rgba(162, 95, 75, 1);
  }
.buy_text p{
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(29, 31, 46, 0.7);
  margin: 0px;
  padding-bottom: 34px;
  }
.btn_buy a{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: rgba(29, 31, 46, 1);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  color: rgba(255, 255, 255, 1);
 }
 .buy_main .btn_buy a{
  text-decoration: none;
  padding: 9px 24px;
 }
 .btn_buy a:hover{
  text-decoration: none;
  animation: anim1 4s linear infinite;
 }
  @keyframes anim1{
    0%{background: rgba(29, 31, 46, 1);}
    50%{background: rgba(255, 255, 255, 1);}
    100%{background: rgba(162, 95, 75, 1)}
 }
 /*main-buy two products*/

 /*main-baner2*/
 .baner2 .container{
  max-width: 1440px;
  margin: 0 auto;
}
/*main-baner2*/

/*main-style*/
.style_title{
  padding: 100px 0;
}
.style_title h2{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(29, 31, 46, 1);
  text-transform: uppercase;
  margin: 0 auto;
}
.style_title{
  position: relative;
}
.left3,.right3{
  background:rgba(236, 236, 237, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left3{
  right: 27%;
}
.right3{
  left: 27%;
}
.left3:before,.right3:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 30px;
  background: rgba(236, 236, 237, 1);
  top: 50%;
  transform: translateY(-50%);
}
.left3:before{
  right: 100%;
}
.style_image{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 32px;
  color: rgba(29, 31, 46, 1);
  padding-bottom: 152px;
  }
.style_img a img:hover{
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.fancybox2{
  height: 553px;
  }
.style_img{
  max-width: 300px;
  }
.style_text h2{
  font-size: 20px;
  line-height: 32px;
  color: rgba(29, 31, 46, 1);
  padding-top: 28.84px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin: 0px;
  }
.style_text h2:hover{
  color: rgba(162, 95, 75, 1);
  }
.style_text p{
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 16px;
  padding-right: 19px;
  margin: 0px;
  }
.style_text h3{
  font-size: 12px;
  line-height: 18px;
  color: rgba(29, 31, 46, 1);
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 48px;
  }
/*main-style*/

/*main-subscribe*/
.subscribe .container{
  max-width: 1380px;
  margin: 0 auto;
}
.subscribe_main{
  background: rgba(29, 31, 46, 1);
}
.subscribe_text h3{
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
  margin: 0px;
}
.subscribe_text h2{
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 14.8px;
  padding-bottom: 25.2px;
  margin: 0px;
}
.btn_subscribe{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.email-place{
  padding-right: 10px;
}
.email-place input{
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  padding: 18px 40px;
  background: rgba(29, 31, 46, 1);
  border: 1px solid #2F303E;
  border-radius: 0px;
}
::placeholder {
  color: rgba(255, 255, 255, 1);
}
.modal-subscriber button{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 18px 40px;
  background:rgba(255, 255, 255, 1);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.modal-subscriber button:hover{
  text-decoration: none;
  animation: anim1 4s linear infinite;
}
  @keyframes anim1{
    0%{background: rgba(29, 31, 46, 1);}
    50%{background: rgba(255, 255, 255, 1);}
    100%{background: rgba(162, 95, 75, 1)}
}
/*main-subscribe*/

/*footer*/

.footer{
  padding-top: 100px;
}
.footer_box a img{
  padding-bottom: 22px;
}
.footer_box p{
  max-width: 258px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 81px;
}
.footer_box h3{
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  padding-bottom: 59px;
}
.information h2{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgba(29, 31, 46, 1);
  text-transform: uppercase;
  padding-bottom: 22.98px;
  cursor: pointer;
}
.information h2:hover{
  font-weight: bold;
  color: rgba(162, 95, 75, 1);
}
.information ul{
  list-style: none;
  padding-left: 0px;
}
.information ul li a {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-border-transition: all 0.3s ease;
  -moz-border-transition: all 0.3s ease;
  -ms-border-transition: all 0.3s ease;
  -o-border-transition: all 0.3s ease;
}
.information ul li{
  padding-bottom: 11px;
}
.information ul li a:hover {
  color: rgba(162, 95, 75, 1);
}
.info_footer_text{
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 16px;
  margin: 0px;
}
.email{
padding-bottom: 55px;
}
.email a{
  font-size: 23px;
  line-height: 36px;
  color: rgba(29, 31, 46, 1);
  padding-bottom: 55px;
}
.email a:hover{
  text-decoration: none;
  color: rgba(162, 95, 75, 1);
}
