* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.for_page {
    flex: 1 0 auto;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
}


html body{
    background: #162831;
}

a{
    transition: all 0.3s ease;
}

.header{
    padding-top: 21px;
}

.logo{
    display: block;
}

.menu ul.sub-menu {
    list-style: none;
    display: flex;
    padding-top: 18px;
}

.menu ul.sub-menu li a {
    text-decoration: none;
    display: block;
    padding-right: 50px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
}

.menu ul.sub-menu li:last-child a {
    padding-right: 0;
}

.menu ul.sub-menu li a:hover {
    color: #7abaff;
}

.header .sing-in {
    outline: none;
    border: none;
    background: #018ABE;
    border-radius: 3px;
    width: 175px;
    height: 52px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.header .sing-in:hover {
    color: #fff;
    background: #00C3CC;
}

.main_p {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;

}

.text-akva {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    width: 587px;
    padding-top: 20px;
    margin: 0 auto;
    color: #FFFFFF;
}

.leaves,
.leaves2 {
    margin: 0 66px;
}

.leaves2 {

}

.title_seans .leave2 {
    margin: 0 66px;
}

.banner {
    padding-top: 50px;
    padding-bottom: 150px;
}

.title {
    padding-bottom: 150px;
}

.title_seans {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.healthy {
    background:url(../img/girl.png) no-repeat;
    background-size: cover;
    padding-top:136px;
    padding-bottom: 210px;
    border-radius: 10px;
}

.all_p {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.title a:hover {
   color: #fff;
}

.pool {
    height: 258px;
    overflow: hidden;
    border-radius: 10px;
}

.pool:first-child,
.pool:nth-child(2){
    margin-bottom: 24px;
}

.pool img {
    height: 258px;
    width: 100%;
    object-fit: cover;
}

.dama {
    position: relative;
    border-radius: 10px;
    transition: all 0.3s ease;
}
 .dama a{
      display: block;
 }

 .all_p {
     position: absolute;
     left: 40px;
     bottom: 30px;
 }

 .dama:before {
     content:"";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     background: #018ABE;
     height: 7px;
     opacity: 0;
     visibility: hidden;
 }

.dama:hover:before {
    opacity: 1;
    visibility: visible;
    border-radius: 0px 0px 10px 10px;
}

.first_title  img {
    height: 540px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.title_reviews {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.reviews {
   padding-bottom: 150px;
}

.review {
    background: #018ABE;
    border-radius: 10px;
}

.huge {
    padding-bottom: 20px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.p_review {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}

.img_main .item {
    padding:50px 60px;
}

.about {
    padding-bottom: 150px;
}



.about_us {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.about p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}
.padd{
    margin-top: 100px;
}

.gidrotherapy {
    margin-top: 40px;
    margin-left: 42px;
}

.vertical1 {
    margin-top: 66px;
    margin-right: 42px;
}

.main_price {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.price {
    padding-bottom: 150px;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.owl-dot span:hover,
.owl-dot.active span {
    opacity: 1;
}

.owl-dot {
    outline: none;
}

.owl-dot span{
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 3px;
    display: block;
    margin-right: 20px;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
}

.title_prices ul li {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    list-style: none;
    padding-bottom: 31px;
    max-width: 416px;
    display: flex;
    justify-content: space-between;
}

.title_prices ul li .leaves_price{
    margin-right: 20px;
}

.title_prices ul li:last-child {
    padding-bottom: 0;
}

.gift_certificate {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.total_price {
    margin-top: 103px;
}
.pool_adress,
.pool_workclass h2{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
.pool_adress,
.pool_workclass p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.pool_adress,
.pool_workclass {
    margin-left: -6px;
    padding-bottom: 30px;
    background: #018ABE;
    border-radius: 10px;
    padding: 35px 45px;
}
.pool_adress svg,
.pool_workclass svg {
    margin-right: 20px;
}

.button {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #018ABE;
}

.button .sing-in {
    outline: none;
    border: none;
    background: #fff;
    border-radius: 3px;
    width: 175px;
    height: 52px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #018ABE;
    transition: all 0.3s ease;
}

.button .sing-in:hover {
    color: #fff;
    background: #00C3CC;
}


.pool_workclass {
    margin-bottom: 24px;
}
.map iframe{
    border-radius: 10px;
}
.footer{
    padding-top: 90px;
    padding-bottom: 30px;
}
.copy_right{
    font-family: 'Proxima Nova';
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.copy_right_left{
    font-family: 'Proxima Nova';
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    color: #FFFFFF;
}
















