@media(max-width:1440px){
    .banner:after {
        transform: rotate(173deg);
        right: -12px;
    }
    .banner .last_box_banner:after{
        height: 36px;
    }
    .banner .last_box_banner {
        border-radius: 13px 0 0 0;
    }  
}

@media (max-width: 1199px) {
    .huge_text,
    .huge_text span {
        font-size: 50px;
    }
}


@media (max-width: 991px) {
    .responsive_menu_button {
        display: block;
        color: #5735D2;
        font-size: 40px;
        cursor: pointer;
    }

    .box_responsive {
        display: flex;
        justify-content: space-between;
    }

    .for_page .resp_active_menu{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0,0.7);
        flex: 100%;
        left: 0;
        top: 0;
        z-index: 111;
        padding-top: 60px;
    }
    .menu ul.sub-menu {
        display: block;
    }
    .menu ul.sub-menu li a {
        padding-right: 0;
        color: #fff;
        text-align: center;
        padding-bottom: 30px;
        font-size: 23px;
    }
    .close_button{
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 2222;
    }
    .last_box_banner {
        width: 100%;
        height: 588px;
        position: relative;
        right: 0;
        top: 0;
    }

    .box_banner {
        margin-bottom: 60px;
    }

    .buisness {
        padding-bottom: 40px;
    }
    .box_adventure2 p {
        text-align: left;
        float: inherit;
        margin-bottom: 0;
    }
    .box_adventure3 {
        margin-top: 0px;
       
    }
    .box_adv{
        margin-bottom: 30px;
    }
    .adventure,
    .exchange {
        padding-bottom: 40px;
    }
    .bs {
        margin-top: 30px;
    }
    .b_p p {
        width: 100%;
        padding-bottom: 20px;
    }
    .banner_user {
        padding: 40px 0;
    }
    #review:after {
        right: -55px;
    }
    #review:before{
        left: -69px;
    }
    .footer_subscribe {
        width: 253px;
        display: block;
    }
}

@media (max-width: 767px) {
    .banner {
        padding-top: 0;
    }
   .last_box_banner{
    padding: 150px 0;
    height: auto;
   }
   .box_adventure2 p {
    margin-bottom: 20px;
}
#review:before,
#review:after{
    display: none;
}
.description:before {
    left: -25px;
}
.description:after{
    right: -25px;
}
.banner_footer {
    padding-top: 40px;
}
.b_f h2 {
    padding-bottom: 0;
}
ul.menu_f li a {
    padding-bottom: 15px;
}
}

@media (max-width: 600px) {
    .box_professional {
        overflow: hidden;
    }
    
}
@media (max-width: 480px) {
    #carousel_buisness.owl-carousel .owl-item img {
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .idr {
        padding: 10px;
    }
    .push a {
        padding: 24px 0px;
    }

    .huge_text, .huge_text span {
        font-size: 40px;
        line-height: 47px;
    }
    .gray2,  .first_gray {
        display: block;
    } 
    .rp2 {
        margin-bottom: 20px;
    }
    .bs h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .bs p {
        line-height: 30px;
    }
    .parent {
        display: block;
    }
    .learn_more {
        margin-top: 15px;
    }
    .b_p h2 {
        font-size: 30px;
        line-height: 35px;
    } 
    .social_footer {
        float: inherit;
    }
    .text_footer {
        margin: 20px 0;
    }   
    .banner_buttons {
        display: block;
    }
    .learn_more a, .banner_buttons a {
       margin-bottom: 10px;
        width: 100%;
    }
    .form_exchange {
        padding: 20px;
    }
    .lave{
        padding-left: 0;
    }
    .usd {
        margin-top: 10px;
    }
}


@media (max-width: 350px) {

.form_exchange {
    padding: 10px;
}
.bp_center {
    padding: 20px 10px;
}
.form_prom .button_prom {
    display: block;
    position: static;
    width: 100%;
}
.form_prom .text_prom {
    padding-right: 10px;
}
.form_prom .button_prom:hover {
    transform: none;
}

}