@media(max-width:1440px){
    .banner:after {
        transform: rotate(173deg);
        right: -12px;
    }
    .banner .last_box_banner:after{
        height: 36px;
    }
    .banner .last_box_banner {
        border-radius: 13px 0 0 0;
    }  
}

@media (max-width: 1199px) {
       
}

@media (max-width: 1097px) {
   
}

@media(min-width:1200px){
   
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
   

}

@media (max-width: 503px) {
    
    
}


@media (max-width: 450px) {

   
}

@media (max-width: 407px) {
   
}

@media (max-width: 367px) {

}