* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.for_page {
    flex: 1 0 auto;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.clear{
    clear: both;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a{
    transition: all 0.3s ease;
}

.header{
    padding-top: 20px;
}

.logo{
    display: block;
    padding-top: 11px;
}

.menu ul.sub-menu {
    list-style: none;
    display: flex;
    padding-top: 17px;
}

.menu ul.sub-menu li a {
    text-decoration: none;
    display: block;
    padding-right: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #282B6D;
}

.menu ul.sub-menu li:last-child a {
    padding-right: 0;
}

.menu ul.sub-menu li a:hover {
    color: #7abaff;
}

.header .btns{
    outline: none;
    border: none;
    width: 124px;
    height: 52px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #282B6D;
    transition: all 0.3s ease;
    box-shadow: 0px 17px 47px rgba(46, 74, 116, 0.02);
    border-radius: 12px;
    background: transparent;
}

.header .btns:hover {
    color: black;
    background: #FFFFFF;
}

.header {
    background: #F0F6FF url(../img/bg_header.png) no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
}


.box_banner span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
    padding-bottom: 10px;
}

.huge_text {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #282B6D;   
}

.huge_text span{
    color: #5735D2;
    text-decoration-line: underline;
    font-size: 60px;
    font-weight: bold;
}

.box_banner .little_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #9AA5B6;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner_buttons {
    display: flex;
}
.learn_more a,
.box_banner a {
    background: #5735D2;
    border-radius: 12px;
    display: block;
}
.learn_more a,
.banner_buttons a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    outline: none;
    border: none;
    text-decoration: none;
    width: 169px;
    height: 61px;  
    transition: all 0.3s ease;
    padding: 16px 32px;
    text-align: center;
}
.learn_more a:hover,
.banner_buttons a:hover {
    background-color: #FFFF;
    color: #5735D2;
}

.banner_buttons a:first-child {
    margin-right: 24px;
}

.banner {
    padding-top: 50px;
    padding-bottom: 147px;
    position: relative;
    overflow:hidden;
}

.banner:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -93px;
    width: 100%;
    height: 189px;
    background: #FFFFFF;
    transform: rotate(177deg);
    z-index: 2;
}

.box_banner {
    padding-top: 64px;
}

.last_box_banner {
    background: #DDE3EB;
    background-position: right top;
    background-size: cover;
    padding-top: 231px;
    padding-bottom: 247px;
    width: 50%;
    height: 588px;
    border-radius: 24px 0 0 0;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 3;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #737A84;
}   
.last_box_banner:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 65px;
    background: url(../img/box_bg_banner.png) no-repeat;
    background-size: cover;
}

.last_box_banner span{
    font-weight: bold;
}

.last_box_banner a {
    text-decoration: none;
    color: #737A84;
}

.buisness {
    padding-top: 36px;
    text-align: center;
    padding-bottom:140px;
}

.box_buisness span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
}


.box_buisness h2{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #282B6D;
}

.box_buisness p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9AA5B6;

}
#carousel_buisness.owl-carousel .owl-item img{
    width: auto;
}
#carousel_buisness.owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}

#carousel_buisness {
    border-bottom:2px solid #F6F8FB;
    padding-bottom: 24px;
}
.box_adventure{
    max-width: 482px;
}
.box_adventure span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
    margin-bottom: 10px;
}


.box_adventure h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}
.box_adventure2{
    align-self: flex-end;
}

.box_adventure2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #9AA5B6;
    max-width: 403px;
    text-align: right;
    float: right;
}

.box_adv {
    background: #F8FAFF;
    border-radius: 12px;
}



.box_adv h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #282B6D;
}

.box_adv p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #9AA5B6;
}

.box_adv a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #5735D2;
}

.box_adventure3 {
    margin-top: 50px;
}

.box_adv img {
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 32px;
}

.box_adv .many_text {
    padding-left: 32px;
    padding-bottom: 36px;
}

.adventure {
    padding-bottom: 140px;
}

.convert {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #9AA5B6;
}

.gray {
  
}



.form_exchange {
    background: #FFFFFF;
    border: 1px solid rgba(238, 241, 247, 0.5);
    border-radius: 18px;
    padding: 40px;
    position: relative;
}
.form_exchange:after{
    content: '';
    position: absolute;
    bottom: -32px;
    left: -28px;
    background: url(../img/gray_bg.png) no-repeat;
    width:117px;
    height:117px;
    z-index: -1;
}
.cours {
    display: flex;
}

.lave {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-transform: capitalize;
    color: #9AA5B6;
    padding-left: 25px;
}


.price {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 140%;    
    color: #282B6D;
}

.service .t1 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #CACCD0;
}


.service .t2 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #282B6D;
}




.push a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    display: block;
    padding: 24px 160px;
    background: #FE9168;
    border-radius: 12px;
}

.push a:hover {
    color: white;
    background: #5735D2;
}

.exchange {
    padding-bottom: 140px;
}

.quetion a {
    text-decoration: none;
    transition: all 0.3s ease;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #282B6D;
}

.quetion a:hover {
    color: orange;
}

.quetion span {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #9AA5B6;
}
.gray2,
.last_gray,
.first_gray{
    display: flex;
    justify-content: space-between;
}
.gray2,
.first_gray{
    background: #F7F8FA;
    border-radius: 12px;
    padding: 20px 28px;
}

.rp2 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 140%;
    color: #282B6D;
}

.receive {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #9AA5B6;
}

.exch h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #9AA5B6;
    margin-bottom: 32px;
}
.idr{
    background: #FFFFFF;
    box-shadow: 0px 17px 30px #F1F2F4;
    border-radius: 10px;
    padding: 20px;
}

.usd {
    background: #FFFFFF;
    box-shadow: 0px 17px 30px #f1f2f4;
    border-radius: 10px;
    padding: 20px;
}

.lave svg{
    margin-right: 12px;
}
.service div,
.lave div{
    margin-top: 21px;
}
.last_gray{
    margin-bottom: 20px;
}
.gray2{
    margin-bottom: 24px;
}
.quetion{
    text-align: center;
    margin-top: 24px;
}

.bs span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
}

.bs h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #282B6D;
    width: 473px;
    padding-bottom: 24px;
    padding-top: 10px;
}

.bs p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 43px;
    color: #9AA5B6;
}

.pdf span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #282B6D;
    text-transform: none;
}

.calc a,
.pdf a {
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
}

.calc a:hover,
.pdf a:hover { 
    transform: scale(1.2);
}

.calc span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #282B6D;
    text-transform: none;
}

.parent {
    display: flex;
}

.learn_more{
    margin-top: 48px;
}
.pdf{
    margin-right: 52px;
}
.parent{
    margin-top: 36px;
}

.b_p span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
}

.b_p h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #282B6D;
    margin-bottom: 24px;
}

.b_p p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #9AA5B6;
}

.b_p .ceo_signature {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #282B6D;
    margin-top: 24px;
}

.b_p img {
    margin-top: 25px;
}

.bptop img {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.bptop h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #282B6D;
    margin-top: 20px;
}

.bptop p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #9AA5B6;
}
.bp_center{
    padding: 24px 22px;
    border: 1px solid rgba(238, 241, 247, 0.5);
    border-radius: 12px;
}

.bg_center_invoice {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9AA5B6;
    margin-bottom: 20px;
}

.user_bp2 {
    background: #F7F8FA;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.user_bp2_left .user_name{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #282B6D;
}

.user_bp2_left p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9AA5B6;
    max-width: 171px;
} 

.user_bp2_right .user_amount_head{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    color: #9AA5B6;
}
.user_bp2_right .user_amount{
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    color: #282B6D;
}
.user_bp2_right .user_access{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #14C186;
}

.user_bp2_right {
    text-align: right;
}

.user_bp2_left .user_name {
    margin-bottom: 10px;
}

.payment_user {
    display: flex;
    justify-content: space-between;
}
.child_bp2{
    border: 1px solid rgba(238, 241, 247, 0.5);
    border-radius: 18px;
    padding: 40px;
    position: relative;
    background: #fff;
}
.child_bp2:after {
    content: '';
    position: absolute;
    bottom: -32px;
    right: -28px;
    background: url(../img/gray_bg.png) no-repeat;
    width: 117px;
    height: 117px;
    z-index: -1;
}

.payment_user_left div{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #9AA5B6;
    margin-bottom: 19px;
}


.payment_user_right div{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #CACCD0;
    margin-bottom: 19px;
}
.payment_user_right div:last-child,
.payment_user_left div:last-child{
   margin-bottom: 0;
}

.box_professional {
    padding-bottom: 103px;
}

.banner_user{
    padding: 120px 0;
    background:  linear-gradient(90deg, rgba(232, 235, 240, 0.19) 0%, rgba(232, 235, 240, 0) 78.98%);
}
.b_u {
    background: url(../img/map.png) no-repeat;
    background-size: cover;
    background-position: center top;
}

.b_u span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
    display: block;
}

.b_u h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #282B6D;
}

.b_u p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #9AA5B6;
    max-width: 359px;
    margin: 0 auto;
    position: relative;
}

.b_u p:before {
    content: "";
    width: 88px;
    height: 88px;
    background: #C4C4C4;
    box-shadow: 0px 10px 62px rgba(231, 240, 255, 0.18);
    border-radius: 100%;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 50%);
}


.description {
    position: relative;
    max-width: 452px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #9AA5B6;
    margin-bottom: 30px;
    
}
.description:before{
    content: "";
    width: 22px;
    height: 18px;
    background: url(../img/birds.svg) no-repeat;
    position: absolute;
    left: -38px;
    top: 2px;
}
.description:after{
    content: "";
    width: 22px;
    height: 18px;
    background: url(../img/birds.svg) no-repeat;
    position: absolute;
    right: -38px;
    top: 2px; 
}

.item_name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #282B6D;
    padding-bottom: 10px;
}

.position_item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #9AA5B6;
}

#review {
    padding-top: 184px;
}

#review {
    position: relative;
}

#review:before {
    content: "";
    width: 174px;
    height: 363px;
    background: url(../img/left.svg) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}


#review:after {
    content: "";
    width: 174px;
    height: 363px;
    background: url(../img/right.svg) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 34px;
} 

.owl-dots .owl-dot span:hover,
.owl-dots .owl-dot.active span{
    background: #5735D2;
}

.owl-dots .owl-dot {
    outline: none;
}

.owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #D8DADE;
    border-radius: 100%;
    display: block;
    margin-right: 8px;
    transition: all 03s ease;
}

.banner_promotional {
    padding-top: 102px;
    padding-bottom: 102px;
    background: url(../img/lines.jpg) no-repeat;
    background-size: cover;
    max-width: 100%;
}



.b_p span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FE9168;
    display: block;
}

.b_p h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;  
    text-align: center;
    letter-spacing: -0.5px;
    color: #282B6D;
}

.b_p p {
    width: 451px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #9AA5B6;
    margin: 0 auto;
    padding-bottom: 46px;
}

.form_prom .button_prom {
    background: #5735D2;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 17px 27px;
    transition: all 0.3s linear;
    outline: none;
    border: inherit;
    display: block;
    position: absolute;
    right: 9px;
    top: 9px;
}

.form_prom .button_prom:hover{
    transform: scale(1.2);
}

.form_prom .text_prom {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #9AA5B6;
    border: none;
    padding: 24px;
    padding-left: 48px;
    padding-right: 148px;
    border-radius: 12px;
    display: block;
    width: 100%;
    outline: none;
}
.form_prom .text_prom::placeholder{
    font-size: 16px;
    color: #9AA5B6;
}

.form_prom {
    background: #FFFFFF;
    box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    max-width: 483px;
    margin: 0 auto;
    position: relative;
}

.form_prom .button_prom::after {
    content: '';
    width: 132px;
    height: 54px;
    position: absolute;
}

.form_prom .convert::after {
    content: '';
    background: url(../img/convert.svg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 25px;
    border-radius: 14px;
}
/*
fonts

Plus Jakarta Sans

font-family: 'Plus Jakarta Sans', sans-serif;


*/


















