	*{
		padding: 0;
		margin: 0;
	}
	.box{
		margin-bottom: 50px;
	}
	.box h2{
		text-align: center;
		font-size: 30px;
	}
	.background_color{
		background-color: #186DAB;
		padding-top: 60px;
		padding-bottom: 200px;
	}
	.background_image{
		background-image: url('../img/Frontend-Developer.jpeg');
		padding: 400px 0;
	}
	.bacground_repeat{
		background-repeat: no-repeat;
		width: 100%;
		/*repeat-x, repeat-y, repeat*/
	}
	.bacground_position_img{
       background: url("../img/Frontend-Developer.jpeg") no-repeat;
		background-position: top center;
		padding: 400px 0;
	}
	.bacground_position_repeat_img{
		background: url('../img/Frontend-Developer.jpeg') no-repeat center;
		padding: 400px 0;
	}
	.bacground_cover{
		background: url('../img/Frontend-Developer.jpeg') no-repeat center;
		padding: 400px 0;
		background-size: cover;
	}
	.parent_background .bacground_contain{
		background-size: contain;
	}
	.bacground_full{
		background: url('../img/Frontend-Developer.jpeg') no-repeat center / cover;
		padding: 400px 0;
	}
	.bacground_attachment{
		background: url('../img/Frontend-Developer.jpeg') no-repeat center / cover;
		background-attachment: fixed;
		padding: 400px 0;
	}
	.bacground_position_match_image{
        background: url('../img/start.webp'), url('../img/star2.png'), url('../img/start.webp');
		background-size: 30%, 10%, 10%;
		background-position: center, right, left;
		background-repeat: no-repeat;
		padding: 200px 0;
	}
